/* @import url(//at.alicdn.com/t/font_1078057_h88wfa0ccus.css); */
.modle {
  text-align: center;
  .title{
    color: red;
  }
  
  :global(.am-tab-bar){
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .am-tab-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

