/* @import url(//at.alicdn.com/t/font_1078057_h88wfa0ccus.css); */
.content {
    text-align: center;
    .direction{
        padding: 20px;
        .iconBt{
            font-size: 25px;
            padding-top: 20px;
            cursor: pointer;
        }
    }
    .main{
        border: skyblue 1px solid;
        background: #ccc;
        display: inline-block;
        .row{
            font-size: 0;
            .col {
                width: 18px;
                height: 18px;
                border: skyblue 1px solid;
                display: inline-block;
                overflow: hidden;
            }
            .snake {
                background-color: #03A9F4;
                @extend .col;
            }
            .egg {
                // background-color: #ff5722;
                @extend .col;
            }
        }
    }
}

