/* @import url(//at.alicdn.com/t/font_1078057_h88wfa0ccus.css); */
.login {
  margin:0 auto;
  // text-align: center;
  padding: 20px;
  .title{
    color: #000;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
  }
  .loginTo{
    text-align: center;
  }
}

